<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small class="text-white">Copyright &copy; <%= link_to "My Website","http://klajdi.herokuapp.com",class:"text-white" %></small>
    </div>
  </footer>
